*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    background-image: url(../IMAGENES/descarga.jpg);
}

table{
    background-image: url(../IMAGENES/descarga.jpg);
    width: 100%;
}

.encabezado{
    border-collapse: separate;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    
    
}

th{
    background-color:cadetblue;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

td{
    background-image: url(../IMAGENES/descarga.jpg);
    text-align: center;
    padding: 5px;
    font-family:'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 16px;
}

tbody img{
    box-shadow: 0 0 20px rgb(250, 250, 255);
    border-radius: 15px;
}

button{
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgb(245, 240, 240);
}

button:hover{
    background-color: gray;
    color: black;
    transform: scale(1.05);
}

